/* shared styles */
:root {
    --rust: #B54110;
    --cocoa-brown: #D36E24;
    --chestnut: #924B2C;
    --raw-umber: #9A6244;
    --dessert-sand: #D6B7A0;
    --bone: #DACDBE;
    --black-olive: #42413D;
    --onyx: #2B3331;
    --bistre: #41261B;
    --black-bean: #430B04;
}

body {
    font-family: 'idk-regular', monospace;
}





/* nav styles */
.home-page {
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--secondary-color);
    padding: 0.75rem 1rem;
    border-radius: 100px;
    background-color: var(--eggshell);
}

.skill {
    display: none;
}

#expertise {
    padding: 0.50rem;
	background-color: var(--eggshell);
	border-radius: 100px;
}





/* 1 img section styles */
.one-img-container {
    width: 100%;
    border-radius: 1rem;
    
}

.one-img-container > img {
    border-radius: 1rem;
    width: 100%;
}





/* info section styles */
.info-section {
    justify-content: space-between;
}

.info-card {
    font-weight: 700;
    width: 23%;
    text-align: left;
}

.info-type {
    color: var(--grey);
    margin-bottom: 0.25rem;
}





/* 2 img section styles */
.two-img-container {
    justify-content: space-between;
}

.img-box {
    width: calc(50% - 30px);
    height: 300px;
    border-radius: 1rem;
}





/* half text section styles */
.half-text-container {
    width: 50%;
}

.half-text {
    color: var(--secondary-color);
    text-align: left;
    line-height: 1.25rem;
    font-family: 'idk-regular', monospace;
} 





/* full tex section styles */
.full-text {
    color: var(--secondary-color);
    text-align: center;
    line-height: 1.25rem;
    font-family: 'idk-regular', monospace;
} 





/* half img half text section */
.half-img-half-text-container {
    justify-content: space-between;
}

.half-container {
    width: calc(50% - 30px);
}

.half-text-container {
    color: var(--secondary-color);
    text-align: right;
    line-height: 1.25rem;
    font-family: 'idk-regular', monospace;
}

.half-img-container {
    border-radius: 1rem;
}





/* half text half img section styles */
#reverse {
    flex-direction: row-reverse;
}

#reverse > .half-text-container {
    text-align: left;
}





/* grid section styles */
.eighty-twenty-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    height: 40rem;
    gap: 1rem;
}

.grid-item1 {
    grid-column: 1 / 2; /* Covers the first column */
    grid-row: 1 / 2;    /* Covers the first row */
    border-radius: 1rem;
    background-color: #372d2e;
}

.grid-item2 {
    grid-column: 2 / 3; /* Covers the second column */
    grid-row: 1 / 3;    /* Spans across both rows */
    border-radius: 1rem;
    background-color: #867371;
}

.grid-item3 {
    grid-column: 1 / 2; /* Covers the first column */
    grid-row: 2 / 3;    /* Covers the second row */
    border-radius: 1rem;
}

#grid-item3-text {
    font-family: 'idk-regular', monospace;
    line-height: 1.4rem;
    text-align: left;
    justify-content: center;
    align-items: center;
}





/* half half text section styles */
.second-half-text {
    text-align: right;
}





/* pg 01 styles */
#pg1-1img-2 {
    width: auto;
    height: 26rem;
    background-color: var(--raw-umber);
}

#pg1-1img-3 {
    width: auto;
    height: 26rem;
    background-color: var(--bone);
}

#pg1-1img-4 {
    width: auto;
    height: 26rem;
    background-color: var(--bistre);
}

#pg1-2img-1-first {
    background-color: var(--cocoa-brown);
}

#pg1-2img-1-second {
    background-color: var(--rust);
}

#pg1-2img-2-first {
    background-color: var(--dessert-sand);
}

#pg1-2img-2-second {
    background-color: var(--chestnut);
}

#pg1-hiht-img-1 {
    background-color: var(--black-olive);
}

#pg1-hiht-img-2 {
    background-color: var(--onyx);
}





/* page 02 styles */
#pg2-2img-1-first {
    background-color: #120E0E;
}

#pg2-2img-1-second {
    background-color: #2a2324;
}

#pg2-1img-2 {
    width: auto;
    height: 26rem;
    background-color: #221f22;
}

#pg2-1img-3 {
    width: auto;
    height: 26rem;
    background-color: #6e676c;
}

#pg2-hiht-img-1 {
    background-color: #3e393e;
}

#pg2-hiht-img-2 {
    background-color: #252629;
}

#pg2-1img-4 {
    width: auto;
    height: 26rem;
    background-color: #cac0be;
}

#pg2-2img-2-first {
    background-color: #867371;
}

